<div
  class="container my-5"
  infinite-scroll
  [infiniteScrollDistance]="scrollDistance"
  [infiniteScrollUpDistance]="upScrollDistance"
  (scrolled)="loadMoreData()"
>
  <mat-card>
    <table
      mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      class="mat-elevation-z8"
    >
      <ng-container
        matColumnDef="{{ column }}"
        *ngFor="let column of columnsToDisplay"
      >
        <th mat-header-cell *matHeaderCellDef>
          {{
            column == "date"
              ? "Date"
              : column == "color"
              ? "Colors"
              : column == "description"
              ? "Description"
              : column == "images"
              ? "Images"
              : column == "price"
              ? "Price"
              : column == "productname"
              ? "Product Name"
              : column == "producttitle"
              ? "Product Title"
              : column == "size"
              ? "Size"
              : column == "action"
              ? "Action"
              : column
          }}
        </th>
        <td mat-cell *matCellDef="let element">
          <ng-container
            *ngIf="
              column !== 'action' &&
              column !== 'color' &&
              column != 'size' &&
              column != 'images'
            "
          >
            <span
              matTooltipPosition="above"
              #tooltip="matTooltip"
              [matTooltip]="element[column]"
              >{{ element[column] | slice : 0 : 30 }}</span
            >
          </ng-container>
          <ng-container *ngIf="column == 'images'">
            <div
              *ngFor="let img of element[column]"
              style="display: flex; flex-direction: row"
            >
              <img
                [src]="serverUrl + img"
                alt="not found"
                height="40"
                width="40"
              />
            </div>
          </ng-container>
          <ng-container *ngIf="column == 'color'">
            <div *ngFor="let clr of element[column]">
              <div
                class="badge-icon"
                [ngStyle]="{
                  'background-color':
                    clr == 'navy blue'
                      ? '#000080'
                      : clr == 'white'
                      ? '#C0C0C0'
                      : clr
                }"
              >
                <mat-icon class="badge-icon-content"> </mat-icon>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="column == 'size'">
            <div *ngFor="let sz of element[column]" class="my-2">
              <div
                [ngStyle]="{
                  'background-color': '#000000',
                  margin: '5px',
                  'border-radius': '20%',
                  'text-align': 'center'
                }"
              >
                <span style="color: #ffffff; margin: 10px">{{
                  sz | slice : 0 : 1
                }}</span>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="column === 'action'">
            <mat-icon color="primary" class="mx-1 icon" (click)="onEdit(element)">edit</mat-icon>
            <mat-icon color="warn" class="mx-1 icon">delete</mat-icon>
          </ng-container>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: columnsToDisplay"
        class="example-detail-row"
      ></tr>
    </table>
    <div class="spinner" *ngIf="!visible">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
  </mat-card>
</div>
