/* styles.css */
.custom-toast {
  background-color: #74787c;
  color: #fff;
  padding: 16px; /* Adjust padding as per your requirements */
  margin: 10px; /* Adjust margin as per your requirements */
}
