<div class="container my-5" style="max-width: 800px">
  <div class="card mb-3 child-container">
    <div class="row g-0">
      <div class="col-md-4 image">
        <img
          src="https://rukminim2.flixcart.com/image/832/832/l4zxn680/jean/z/u/0/32-36087-0629-levi-s-original-imagfrryhe98cjpf.jpeg?q=70"
          height="200"
          class="img-fluid rounded-start"
          alt="Image nOt"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
          <div class="btn-container">
            <button class="btn-sm" mat-raised-button color="accent">Remove From Cart</button>
            <div class="btn-group">
              <button mat-mini-fab color="primary" class="custom-mini-fab">
                <mat-icon>add</mat-icon>
              </button>
              <div class="mx-4"><span class="count">0</span></div>
              <button mat-mini-fab color="warn" class="custom-mini-fab">
                <mat-icon>remove</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3 child-container">
    <div class="row g-0">
      <div class="col-md-4 image">
        <img
          src="https://rukminim2.flixcart.com/image/832/832/l4zxn680/jean/z/u/0/32-36087-0629-levi-s-original-imagfrryhe98cjpf.jpeg?q=70"
          height="200"
          class="img-fluid rounded-start"
          alt="Image nOt"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
          <div class="btn-container">
            <button class="btn-sm" mat-raised-button color="accent">Remove From Cart</button>
            <div class="btn-group">
              <button mat-mini-fab color="primary" class="custom-mini-fab">
                <mat-icon>add</mat-icon>
              </button>
              <div class="mx-4"><span class="count">0</span></div>
              <button mat-mini-fab color="warn" class="custom-mini-fab">
                <mat-icon>remove</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary btn-sm my-3">₹ Buy Now</button>
  </div>
</div>
